@media only screen and (max-width: 400px) { 
	body{
		width: 360px !important;
	}
	/*banner----------------------------------------start*/
	.headImg{
		background-image: url("../images/er_01.png");
	    width: 360px;
	    height: 206px;
	    background-repeat:no-repeat; 
	    background-size:100% 100%;
	    -moz-background-size:100% 100%;
  		-webkit-background-size: 100% 100%;  
	}
	/*banner----------------------------------------end*/

	/*导航标题----------------------------------------start*/
	.title {
		text-align: center;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 20px;
		margin-top: 30px;
	}
	/*导航标题----------------------------------------end*/

	/*nav ----------------------------------start*/
	.nav{
		margin-top: 23px;
		text-align: center;
	}
	.nav ul {
		display: inline-block;
		width: 336px;
		list-style: none;
	}
	.nav li{
		border:1px solid #E5E5E5;
		margin-left: 2px;
		width: 80px;
		height: 65px;
		float: left;
	}
	.navlione{
		background: url("../image/01.png") 23px 6px no-repeat ;
	}
	.navlitwo{
		background: url("../image/02.png") 23px 6px no-repeat ;
	}
	.navlithree{
		background: url("../image/03.png") 23px 6px no-repeat ;
	}
	.navlifour{
		background: url("../image/04.png") 23px 6px no-repeat ;
	}

	.nav li:hover{
		background: #0191FF;
	}
	.navtitle{
		font-family: 'MicrosoftYaHei',
		font-weight:'Regular';
		font-size: 12px;
		color: #000000;
		margin-top: 39px;
		margin-left: 5px;
	}
	.nav li:hover .navtitle{
		display: none;
	}
	.navblock{
		position: relative;
		margin: 0 auto;
		font-size: 6px;
		font-family: 'MicrosoftYaHei',
		font-weight:'Regular';
		color: #FFFFFF;
		height: 16px;
		width: 63px;
		margin-top: 3px;
		display:none;
	}
	
	.nav li:hover .navblock{
		display:block;
		border: 1px solid  #0191FF;
	}
	/*nav ----------------------------------end*/
	.showtitle{
		width: 84px; 
		display: inline-block;
		font-weight: bold;
		font-size: 16px;
		height: 33px;
		font-family: MicrosoftYaHei-Bold;
	}
	.showinco{
		position: absolute;
		display: inline-block;
		width: 45px;
		height: 0px;
		border-top: 4px solid #0191FF;
		top: 29px;
		left: 19px;
		display: none;
	}
	/*凸赞推荐------------------------------ start*/
	.Recommend{
		text-align: center;
		background: #F5F5F5;
		margin-top: 16px;
		padding-top: 10px;
	}
	.Recommendtitle{
		position: relative;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 20px;
	}
	.RecommendVicetitle{
		margin-top: 10px;
		border-radius: 5px;
		line-height: 30px;
		display: inline-block;
		width: 126px;
		font-size: 10px;
		font-weight: bold;
		height: 30px;
		background: #FFCA12;
		text-align: center;
	}
	.Recommendtitle1{
		position: relative;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 20px;
		width: 112px;
		margin-top: 20px;
	}
	.Restaurant{
		display: inline-block;
		text-align: center;
		width: 335px;
	}
	.leftRestaurant{
		height: 340px;
		width: 93px;
		background: #0097FF;
		text-align: center;

	}
	.Restaurantimg{
		width: 80px;
	}
	.mt50{
		margin-top: 20px;
	}
	.Preferentialicon{
		vertical-align:middle;
		background: url('../images/er_36.png') 3px 0px no-repeat;
		background-size: 30px 28px;
		width: 32px;
		height: 41px;
		display: inline-block;
	}
	.Restaurantpirce{
		vertical-align:top;
	}
	.fs-25{
		font-size: 6px;
	}
	.Restaurantbutton{
		margin-top: 15px;
		padding-bottom: 16px;
	}
	.Restaurantbutton a{
		display: inline-block;
		vertical-align: top;
		width: 37px;
		height: 28px;
		text-align: center;
		color: #0F0F0F;
		text-decoration: none;
	}
	.rightRestaurant{
		height: 340px;
		width: 241px;
		background: white;
		position: relative;
		border-right:  1px solid #DCDCDC;
		border-top: 1px solid #DCDCDC;
		border-bottom:  1px solid #DCDCDC;
	}
	.introduce{
		width: 165px;
		margin-top: 25px;
		padding-left: 15px;
		text-align: left;
	}
	.special{
		margin-top: 15px;
		padding-left: 15px;
		text-align: left;
	}
	.introducetitle{
		font-size: 12px;
		font-family:'MicrosoftYaHei-Bold';
		font-weight: bold ;
	}
	.introducecontent{
		color: #070707;
		font-size: 12px;
		font-family:'MicrosoftYaHei';
		font-weight: 'Regular' ;
		line-height: 15px;
		letter-spacing:1px;
	}
	.specialinfo{
		margin-top: 25px;
	}
	.specialinfo ul{
		list-style: none;
	}
	.specialinfo ul li{
		text-align: center;
		float:left;
		width: 56px;
		height: 68px;
	}
	.specialinfoli1{
		background: url('../images/er_59.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli2{
		background: url('../images/er_27.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli3{
		background: url('../images/er_30.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli4{
		background: url('../images/er_32.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli5{
		background: url('../images/er_43.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli6{
		background: url('../images/er_45.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli7{
		background: url('../images/er_47.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfoli8{
		background: url('../images/er_48.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli1{
		background: url('../images/er_59.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli2{
		background: url('../images/er_57.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli3{
		background: url('../images/er_61.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli4{
		background: url('../images/er_63.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli5{
		background: url('../images/er_74.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli6{
		background: url('../images/er_45.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli7{
		background: url('../images/er_47.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.retailersli8{
		background: url('../images/er_48.png') 18px 0px no-repeat;
		background-size: 20px 22px;
	}
	.specialinfop{
		font-family: 'MicrosoftYaHei';
		font-weight: Regular ;
		margin-top: 31px;
		font-size: 12px;
	}
	.wd-200{
		width: 84px;
		height: 180px;
	}
	.restauranticon{
		position: absolute;
		background: url('../image/er_18.png') no-repeat;
		width: 75px;
		height: 30px;
		top: 17px;
		right: -6px;
	}
	.retailersicon{
		position: absolute;
		background: url('../image/er_54.png') no-repeat;
		width: 75px;
		height: 30px;
		top: 17px;
		right: -6px;
		}
	.program{
		display: inline-block;
		text-align: center;
		width: 360px;
		padding-bottom: 20px;
	}
	.programul{
		list-style: none;
	}
	.programul li{
		float: left;
		width: 89px;
		margin-top: 5px; 
	}
	.programul li a {
		width: 78px;
		text-align: left;
		text-decoration: none;
		font-family: 'MicrosoftYaHei';
		font-size: 13px;
		color: #313030;
		display: inline-block;
		/*width: 38px;*/
		height: 20px;
		line-height: 20px;
		margin-left: 8px;
		background: #FFFFFF;
	}
	.programul li a:hover{
		background:#0191FF;
		color: #fff;
	}
	.mt20{
		margin-top: 10px;
	}
	/*凸赞推荐------------------------------ end*/

	/*营销工具------------------------------ start*/
	.Marketing{
		width: 340px;
		margin-top: 35px;
		text-align: center;		
		display: inline-block;
	}
	.Marketingtitle{
		display: inline-block;
		height: 63px;
		text-align: center;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 20px;
		position: relative;
	}
	.Marketingul{
		list-style: none;
	}
	.Marketingul li{
		float: left;
		width: 75px;
		height: 110px;
		margin-left: 9px;
	}
	.Marketingul li div{
		margin-top: 60px;
		border-left: 1px solid #F0F0F0;
		border-right: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		line-height: 26px;
		height: 26px;
		font-family: 'MicrosoftYaHei-Bold';
		font-weight: bold;
		font-size: 12px;
		position: relative;
	}
	.Marketingicon{
		position: absolute;
		width: 14px;
		height: 0px;
		border-top: 4px solid #0191FF;
		top: 33px;
		left: 30px;
		display: none;
	}
	.Marketingli1{
		background: url('../images/er_83.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli2{
		background: url('../images/er_85.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli3{
		background: url('../images/er_87.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli4{
		background: url('../images/er_89.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli5{
		background: url('../images/er_95.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli6{
		background: url('../images/er_96.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli7{
		background: url('../images/er_97.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli8{
		background: url('../images/er_98.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli9{
		background: url('../images/er_103.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli10{
		background: url('../images/er_104.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli11{
		background: url('../images/er_105.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli12{
		background: url('../images/er_106.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli13{
		background: url('../images/er_111.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli14{
		background: url('../images/er_112.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli15{
		background: url('../images/er_113.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketingli16{
		background: url('../images/er_114.png') 0px 0px no-repeat;
		background-size: 80px 60px;
	}
	.Marketinga{
		display: inline-block;
		border:1px solid #26A0FF;
		width: 105px;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
		color: #26A0FF;
		/*margin-bottom: 70px;*/
		text-decoration: none;
		margin-bottom: 20px;
	}
	/*营销工具------------------------------ end*/

	.more{
		display: inline-block;
		width: 340px;
		text-align: center;
	}
	.moretitle{
		display: inline-block;
		width: 200px;
		position: relative;
		margin-top: 30px;
		color: #fff;
		font-family: MicrosoftYaHei-Bold;
		font-size: 24px;
		font-weight: bold;
		height: 40px;
	}
	.h-60{
		height: 40px;
	}
	.more-hr{
		position: absolute;
		display: inline-block;
		width: 65px;
		height: 0px;
		border-top: 4px solid #fff;
		top: 34px;
		left: 68px;
		display: none;
	}
	.moreul{
		list-style: none;
	}
	.moreul li{
		float: left;
		width: 113px;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
	.moreul li div{
		margin-top: 25px;
		color: #fff;
	}
	.moreli1{
		background: url('../images/er_136.png') 30px 2px no-repeat;
	}

	.moreli2{
		background: url('../images/er_138.png') 30px 2px no-repeat;
	}
	.moreli3{
		background: url('../images/er_141.png') 30px 2px no-repeat;
	}
	.moreli4{
		background: url('../images/er_144.png') 30px 2px no-repeat;
	}
	.moreli5{
		background: url('../images/er_147.png') 30px 2px no-repeat;
	}
	.moreli6{
		background: url('../images/er_150.png') 30px 2px no-repeat;
	}
	.moreli7{
		background: url('../images/er_157_02.png') 30px 2px no-repeat;
	}
	.moreli8{
		background: url('../images/er_158.png') 30px 2px no-repeat;
	}
	.moreli9{
		background: url('../images/er_159.png') 30px 2px no-repeat;
	}
	.moreli10{
		background: url('../images/er_160.png') 30px 2px no-repeat;
	}
	.moreli11{
		background: url('../images/er_161.png') 30px 2px no-repeat;
	}
	.moreli12{
		background: url('../images/er_162.png') 30px 2px no-repeat;
	}
	.moreli13{
		background: url('../images/er_169.png') 30px 2px no-repeat;
	}
	.moreli14{
		background: url('../images/er_171.png') 30px 2px no-repeat;
	}
	.moreli15{
		background: url('../images/er_174.png') 30px 2px no-repeat;
	}
	.moreli16{
		background: url('../images/er_176.png') 30px 2px no-repeat;
	}
	.moreli17{
		background: url('../images/er_178.png') 30px 2px no-repeat;
	}
	.moreli18{
		background: url('../images/er_179.png') 30px 2px no-repeat;
	}
	/*底部更多------------------------------ end*/

	/*底部最后------------------------------ start*/
	.foottitle{
		display: inline-block;
		width: 200px;
		position: relative;
		margin-top: 30px;
		color: block;
		font-family: MicrosoftYaHei-Bold;
		font-size: 24px;
		font-weight: bold;
		height: 40px;
	}
	.t-hr{
		position: absolute;
		display: inline-block;
		width: 71px;
		height: 0px;
		border-top: 4px solid #0191FF;
		top: 45px;
		left: 72px;
		display: none;
	}
	.foot-hr{
		position: absolute;
		display: inline-block;
		width: 60px;
		height: 0px;
		border-top: 4px solid #0098FE;
		top: 34px;
		left: 72px;
		display: none;
	}
	.footcontent{
		margin-top: 5px;
		line-height: 23px;
		font-family: MicrosoftYaHei;
		font-size: 12px;
	}
	.footinfo{
		position: relative;
		display: inline-block;
		width: 340px;
		margin-top: 47px;
	}
	.footicon{
		position: absolute;
		top: 25px;
		left: 379px;
		border-left: 1px solid #3F3F3F;
		height: 185px;
	}
	.footinforight{
		margin-top: 20px;
		margin-left: 35px;
	}
	.noneul{
		text-align:left;
		list-style: none;
	}
	.noneul li{
		height: 35px;
		
	}
	.footli1{
		padding-left: 30px;
		background: url('../images/er_190.png') 0px 0px no-repeat;
		background-size: 22px 22px; 
	}
	.footli2{
		padding-left: 30px;
		background: url('../images/er_193.png') 0px 0px no-repeat;
				background-size: 22px 22px; 

	}
	.footli3{
		padding-left: 30px;
		background: url('../images/er_195.png') 0px 0px no-repeat;
				background-size: 22px 22px; 

	}
	.code{
		text-align: left;
	}
	.code img{
		margin-left: 20px;
	}
	.footinfoleft{
		margin-left: 15px;
	}

	.lunboimg{
		width: 113px;
		
	}
	#zturn li{
		width: 113px;
		background:#F5F5F5;
		height: 200px !important;
	}
	.pictureSlider {
		height: 265px !important;
	}
	.h-50{
		height: 20px;
	}
	.footimg{
		width: 308px;
	}
}