
@media only screen and (min-width: 400px){ 
	/*banner----------------------------------------start*/
	.headImg{
		background-image: url("../images/er_01.png");
	    height: 550px;
	    background-repeat:no-repeat; 
	    background-size:100% 100%;
	    -moz-background-size:100% 100%;
  		-webkit-background-size: 100% 100%;  
	}
	/*banner----------------------------------------end*/

	/*导航标题----------------------------------------start*/
	.title {
		text-align: center;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 27px;
		margin-top: 54px;
		
	}
	.titleicon{
		position: absolute;
		width: 75px;
		height: 0px;
		border-top: 4px solid #0191FF;
		top: 45px;
		left: 132px;

	}
	/*导航标题----------------------------------------end*/

	/*nav ----------------------------------start*/
	.nav{
		margin-top: 59px;
		text-align: center;
	}
	.nav ul {
		display: inline-block;
		width: 840px;
		list-style: none;
	}
	.nav li{
		border:1px solid #E5E5E5;
		margin-left: 5px;
		width: 203px;
		height: 154px;
		float: left;
	}
	.navlione{
		background: url("../images/01.png") 78px 41px no-repeat ;
		background-size:50px 50px;
	}
	.navlitwo{
		background: url("../images/02.png") 78px 41px no-repeat ;
		background-size:50px 50px;
	}
	.navlithree{
		background: url("../images/04.png") 78px 41px no-repeat ;
		background-size:50px 50px;
	}
	.navlifour{
		background: url("../images/03.png") 78px 41px no-repeat ;
		background-size:50px 50px;
	}
	

	.nav li:hover{
		background: #0191FF;
	}
	.navtitle{
		font-family: '微软雅黑';
		font-weight:600 ;
		font-size: 14px;
		color: #000000;
		margin-top: 102px;
		margin-left: 5px;
	}
	.nav li:hover .navtitle{
		display: none;
	}
	.navblock{
		position: relative;
		margin: 0 auto;
		font-size: 13px;
		font-family: 'MicrosoftYaHei',
		font-weight:'Regular';
		color: #FFFFFF;
		height: 50px;
		line-height: 20px;
		width: 180px;
		margin-top: 65px;
		display: none;
	}
	.nav li:hover .navblock{
		display:block;
		border: 1px solid  #0191FF;
	}
	/*nav ----------------------------------end*/

	/*凸赞推荐------------------------------ start*/
	.Recommend{
		text-align: center;
		background: #F5F5F5;
		margin-top: 40px;
		padding-top: 40px;
	}
	.Recommendtitle{
		position: relative;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 27px;
	}
	.Recommendtitle1{
		position: relative;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 27px;
		width: 112px;
	}
	
	.RecommendVicetitle{
		margin-top: 10px;
		border-radius: 5px;
		line-height: 30px;
		display: inline-block;
		width: 126px;
		font-size: 10px;
		height: 30px;
		background: #FFCA12;
		text-align: center;
		font-family: "微软雅黑";
		font-weight: bold;
	}

	.Restaurant{
		display: inline-block;
		text-align: center;
		width: 839px;
	}
	.leftRestaurant{
		width: 234px;
		background: #0097FF;
		text-align: center;

	}
	.Restaurantpirce{
		vertical-align:top;
		margin-top: 20px;
	}
	.Preferentialicon{
		vertical-align:middle;
		background: url('../images/er_36.png') 2px 0px no-repeat;
		background-size:76px 71px;
		width: 82px;
		height: 103px;
		display: inline-block;
	}
	.Restaurantbutton{
		padding-bottom: 40px;
	}
	.Restaurantbutton a{
		display: inline-block;
		vertical-align: top;
		width: 94px;
		height: 28px;
		line-height: 28px;
		text-align: center;
		color: #0F0F0F;
		text-decoration: none;
	}

	.rightRestaurant{
		height: 406px;
		width: 604px;
		background: white;
		position: relative;
		border-right:  1px solid #DCDCDC;
		border-top: 1px solid #DCDCDC;
		border-bottom:  1px solid #DCDCDC;
	}
	.introduce{
		width: 436px;
		margin-top: 45px;
		padding-left: 42px;
		text-align: left;
	}
	.special{
		margin-top: 15px;
		padding-left: 42px;
		text-align: left;
	}
	.introducetitle{
		font-size: 14px;
		font-family:'MicrosoftYaHei-Bold';
		font-weight: bold ;
	}
	.introducecontent{
		margin-left: 6px;
		color: #070707;
		font-size: 14px;
		font-family: "微软雅黑";
		line-height: 20px;
		letter-spacing:1px;
	}
	.specialinfo{
		margin-top: 25px;
	}
	.specialinfo ul{
		list-style: none;
	}
	.specialinfo ul li{
		text-align: center;
		float:left;
		width: 131px;
		height: 106px;
	}
	.specialinfoli1{
		background: url('../images/er_59.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli2{
		background: url('../images/er_27.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli3{
		background: url('../images/er_30.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli4{
		background: url('../images/er_32.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli5{
		background: url('../images/er_43.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli6{
		background: url('../images/er_45.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli7{
		background: url('../images/er_47.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfoli8{
		background: url('../images/er_48.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli1{
		background: url('../images/er_59.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli2{
		background: url('../images/er_57.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli3{
		background: url('../images/er_61.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli4{
		background: url('../images/er_63.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli5{
		background: url('../images/er_74.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli6{
		background: url('../images/er_45.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli7{
		background: url('../images/er_47.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.retailersli8{
		background: url('../images/er_48.png') 38px 0px no-repeat;
		background-size: 55px 55px;
	}
	.specialinfop{
		font-family: 'MicrosoftYaHei';
		font-weight: Regular ;
		margin-top: 64px;
		font-size: 12px;
	}
	.restauranticon{
		position: absolute;
		background: url('../images/er_18.png') no-repeat;
		background-size: 130px 55px;
		width: 130px;
		height: 55px;
		top: 17px;
		right: -12px;
	}
	.retailersicon{
		position: absolute;
		background: url('../images/er_54.png') no-repeat;
		background-size: 130px 55px;
		width: 130px;
		height: 55px;
		top: 17px;
		right: -12px;
	}
	.program{
		display: inline-block;
		text-align: center;
		width: 839px;
		padding-bottom: 40px;
	}
	.programul{
		list-style: none;
	}
	.programul li{
		float: left;
	}
	.programul li a {
		text-decoration: none;
		font-family: 'MicrosoftYaHei';
		font-size: 13px;
		color: #313030;
		display: inline-block;
		width: 98px;
		height: 28px;
		line-height: 28px;
		margin-left: 8px;
		background: #FFFFFF;
	}
	.programul li a:hover{
		background:#0191FF;
		color: #fff;
	}
	/*凸赞推荐------------------------------ end*/

	/*营销工具------------------------------ start*/
	.Marketing{
		width: 839px;
		margin-top: 50px;
		text-align: center;		
		display: inline-block;
	}
	.Marketingtitle{
		display: inline-block;
		height: 80px;
		text-align: center;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 27px;
		position: relative;
	}
	.Marketingul{
		list-style: none;
	}
	.Marketingul li{
		float: left;
		width: 200px;
		height: 167px;
		margin-left: 9px;
	}
	.Marketingul li div{
		margin-top: 110px;
		border-left: 1px solid #F0F0F0;
		border-right: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		line-height: 45px;
		height: 45px;
		font-family: 'MicrosoftYaHei-Bold';
		font-weight: bold;
		font-size: 13px;
		position: relative;
	}
	.Marketingicon{
		position: absolute;
		width: 14px;
		height: 0px;
		border-top: 2px solid #0191FF;
		top: 33px;
		left: 92px;
	}
	.Marketingli1{
		background: url('../images/er_83.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli2{
		background: url('../images/er_85.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli3{
		background: url('../images/er_87.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli4{
		background: url('../images/er_89.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli5{
		background: url('../images/er_95.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli6{
		background: url('../images/er_96.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli7{
		background: url('../images/er_97.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli8{
		background: url('../images/er_98.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli9{
		background: url('../images/er_103.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli10{
		background: url('../images/er_104.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli11{
		background: url('../images/er_105.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli12{
		background: url('../images/er_106.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli13{
		background: url('../images/er_111.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli14{
		background: url('../images/er_112.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli15{
		background: url('../images/er_113.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketingli16{
		background: url('../images/er_114.png') 0px 0px no-repeat;
		background-size: 200px 110px;
	}
	.Marketinga{
		display: inline-block;
		border:1px solid #26A0FF;
		width: 105px;
		height: 30px;
		line-height: 30px;
		font-size: 13px;
		color: #26A0FF;
		/*margin-bottom: 70px;*/
		text-decoration: none;
	}
	.t-hr{
	position: absolute;
	display: inline-block;
	width: 75px;
	height: 0px;
	border-top: 4px solid #0191FF;
	top: 45px;
	left: 112px;
}
	/*营销工具------------------------------ end*/

	/*案列展示------------------------------ start*/
	.showtitle{
		width: 108px; 
		display: inline-block;
	}
	.showinco{
		position: absolute;
		display: inline-block;
		width: 75px;
		height: 0px;
		border-top: 4px solid #0191FF;
		top: 45px;
		left: 17px;
	}
	.showul{
		width: 839px;
		display: inline-block;
		list-style: none;
		position: absolute;
	}
	.showul li{
		width: 200px;
		float: left;
		margin-left: 8px;
	}
	.Restauranttop{
		width: 839px;
		display: inline-block;
	}
	#zturn li{
		width: 180px;
		background: transparent;
		margin: 0px 0px;
	}
	.lunbo{
		width: 839px;
		height: 490px;
	}
	.mt-30{
		margin-left: 8px;
		margin-top: 30px;
	}
	/*案列展示------------------------------ end*/

	/*底部更多------------------------------ start*/
	.more{
		display: inline-block;
		width: 839px;
		text-align: center;
	}
	.foota{
		margin-left: 3px;
	}
	.moretitle{
		margin-left: 3px;
		display: inline-block;
		width: 200px;
		position: relative;
		margin-top: 30px;
		color: #fff;
		font-family: MicrosoftYaHei-Bold;
		font-size: 24px;
		font-weight: bold;
		height: 40px;
	}
	.more-hr{
		position: absolute;
		display: inline-block;
		width: 75px;
		height: 0px;
		border-top: 4px solid #fff;
		top: 45px;
		left: 63px;
	}
	.moreul{
		list-style: none;
	}
	.moreul li{
		float: left;
		width: 135px;
		height: 100px;
		line-height: 100px;
		text-align: center;
	}
	.moreul li div{
		margin-top: 40px;
		color: #fff;
	}
	.moreli1{
		background: url('../images/er_136.png') 43px 25px no-repeat;
		background-size: 48px 48px;
	}
	.moreli2{
		background: url('../images/er_138.png') 43px 25px no-repeat;
		background-size: 48px 48px;
	}
	.moreli3{
		background: url('../images/er_141.png') 43px 25px no-repeat;
		background-size: 48px 48px;
	}
	.moreli4{
		background: url('../images/er_144.png') 43px 25px no-repeat;
		background-size: 48px 48px;
	}
	.moreli5{ 
		background: url('../images/er_144b.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli6{
		background: url('../images/er_150.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli7{
		background: url('../images/er_158.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli8{
		background: url('../images/er_159.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli9{
		background: url('../images/er_162.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli10{
		background: url('../images/er_160.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli11{
		background: url('../images/er_161.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli12{
		background: url('../images/er_157_02.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli13{
		background: url('../images/er_169.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli14{
		background: url('../images/er_171.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli15{
		background: url('../images/er_174.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli16{
		background: url('../images/er_176.png') 43px 25px no-repeat;
				background-size: 48px 48px;

	}
	.moreli17{
		background: url('../images/er_178.png') 43px 31px no-repeat;
				background-size: 48px 48px;

	}
	.moreli18{
		background: url('../images/er_179.png') 43px 31px no-repeat;
				background-size: 48px 48px;

	}
	/*底部更多------------------------------ end*/

	/*底部最后------------------------------ start*/
	.foottitle{
		/*margin-left: 1px;*/
		display: inline-block;
		width: 200px;
		position: relative;
		margin-top: 50px;
		color: block;
		height: 40px;
		font-family: MicrosoftYaHei-Bold;
		font-weight: bold;
		font-size: 27px;
	}
	.foot-hr{
		position: absolute;
		display: inline-block;
		width: 75px;
		height: 0px;
		border-top: 4px solid #0098FE;
		top: 44px;
		left: 60px;
	}
	.footcontent{
		margin-top: 40px;
		line-height: 27px;
		font-family: MicrosoftYaHei;
		font-size: 12px;
	}
	.footinfo{
		position: relative;
		display: inline-block;
		width: 742px;
		margin-top: 47px;
	}
	.footicon{
		position: absolute;
		top: 25px;
		left: 371px;
		border-left: 1px solid #3F3F3F;
		height: 185px;
	}
	.footinforight{
		margin-left: 130px;
	}
	.noneul{
		text-align:left;
		list-style: none;
	}
	.noneul li{
		height: 35px;
		
	}
	.footli1{
		padding-left: 30px;
		background: url('../images/er_190.png') 0px 0px no-repeat;
		background-size: 21px 18px; 
	}
	.footli2{
		padding-left: 30px;
		background: url('../images/er_193.png') 0px 0px no-repeat;
		background-size: 21px 18px; 
	}
	.footli3{
		padding-left: 30px;
		background: url('../images/er_195.png') 0px 0px no-repeat;
		background-size: 21px 18px; 
	}
	.footimg{
		width: 308px;
		height: 226px;
	}
	.code{
		text-align: left;
	}
	.code img{
		margin-left: 20px;
	}
	.h-60{
		height: 60px;
	}
	.h-50{
		height: 50px;
	}
	.mb-40{
		margin-bottom: 40px;
	}
	.ml-2{
		margin-left: -1px !important;
	}
	.wd-200{
		width: 200px;
	}
	.ml17{
		margin-left: 17px;
	}

	/*轮播 --------------start*/
	.itemlist{
		padding-left: 1px;
		position: relative;
		display: inline-block;
		width: 839px;
		height: 396px;
	} 
	.lunboimg{
		width: 200px;
		height: 395px;
	}

}

